#define SHIP_NAMES
    # po: Generator for ship names
    name_generator= _ <<
    main={prefix} {starting_consonnant}{vowel}{consonnant}{vowel}{ending_consonnant}|{prefix} {starting_vowel}{consonnant}{ending_vowel}|{starting_vowel}{consonnant}{vowel}{ending_consonnant}|{prefix} {starting_consonnant}{vowel}{ending_consonnant}|{starting_vowel}{consonnant}{vowel}{consonnant}{ending_vowel}
    prefix=Blessed|Golden|Fearless|Mighty|Lucky|Old|The|The|Valiant
    starting_consonnant=B|C|Cr|D|F|G|H|Kh|L|M|N|P|R|S|T|Th|V
    starting_vowel=A|E|I|O|U
    consonnant=b|br|ch|d|dr|g|gr|gh|kh|m|n|p|pr|r|s|sh|t|v|ol|z|vr|khr|shn
    vowel=a|ae|é|i|o|u
    ending_consonnant=yan|oic|ell|yll|tar|sh
    ending_vowel=a|ae|o|u
    >>
#enddef
[race]
    id=ship
    name= _ "race^Ship"
    plural_name= _ "race+plural^Ships"
    description= _ "Ships are not living beings, but they are crafted and (usually) controlled by living beings. Most ships neither move nor think on their own, but some do so as a result of magical enchantment."
    num_traits=1
    ignore_global_traits=yes
    {TRAIT_MECHANICAL}
    {SHIP_NAMES}
[/race]

[movetype]
    name=ship2
    flying=yes
    [movement_costs]
        deep_water=1
        shallow_water=1
        reef=3
        swamp_water=2
        village=3
    [/movement_costs]
    [defense]
        deep_water=60
        shallow_water=70
        reef=80
        swamp_water=80
        village=100
    [/defense]
    [resistance]
        blade=100
        pierce=70
        impact=100
        fire=130
        cold=70
        arcane=40
    [/resistance]
[/movetype]
